.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: #fff;
}

.App h1 {
  animation: textColor 3s ease infinite;

}


@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fcfff;
  }
  100% {
    color: #7e0fff;
  }
}
